
$white: #ffffff;
$purple: #bc9cff;
$blue: #8ba4f9;
$green: #6fcf97;
$lightBlue: #66d2ea;
$black: #1f2041;

$linearGradientPurple: linear-gradient($purple, $blue);
$linearGradientGreen: linear-gradient($green, $lightBlue);

$borderBlack: 2px solid rgba($black, 0.25);

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: $black;
}

.container {
	margin: 25px auto;
	padding: 0px 15px;
	width: max-content;
}

.filter {
	width: 500px;
	display: flex;
	margin-bottom: 20px;

	&__radio {
		display: flex;
		height: 24px;
		flex-grow: 1;

		& label {
			cursor: pointer;
			width: 100%;
			text-align: center;
			border-radius: 10px;
			margin: 0 10px;
			font-size: 18px;
			font-weight: 200;
			border: 1px solid $purple;

			&:hover {
				background-image: $linearGradientGreen;
				color: $white;
				border: 1px solid rgba($black, 0);
			}
		}

		& input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		& input[type="radio"]:checked + label {
			background-image: $linearGradientPurple;
			color: $white;
		}
	}
}

.form {
	display: flex;
	width: 500px;
	justify-content: space-between;
	height: 50px;

	&__input-text {
		border: $borderBlack;
		flex-grow: 1;
		padding: 10px 20px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		position: relative;
		border-right: none;
		border-left: $borderBlack;

		&:focus {
			outline: none;
			border-top: 2px solid $purple;
			border-bottom: 2px solid $blue;
			border-left: 2px solid $linearGradientPurple;
			border-right: none;
			border-left: $borderBlack;
		}

		&:hover {
			border-top: 2px solid $purple !important;
			border-bottom: 2px solid $blue !important;
			border-right: none;
			// border-left: $borderBlack;
		}
	}

	&__btn-add {
		border: $borderBlack;
		font-weight: 300;
		border-left: none;
		padding: 0 20px;
		background-image: $linearGradientPurple;
		color: $white;
		cursor: pointer;
		transition: 0.1s;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		position: relative;

		&:hover {
			opacity: 0.7;
			border-left: none;
			background: $linearGradientGreen;
		}

		&:active {
			outline: none;
			opacity: 0.9;
		}

		&:focus {
			outline: none;
		}
	}

	&:hover &__input-text {
		border-top: 2px solid $green;
		border-bottom: 2px solid $lightBlue;
		border-right: none;
		border-left: $borderBlack;
	}
}

.list {
	padding: 0;
	list-style: none;
	width: 500px;

	&__item {
		margin-bottom: 10px;
	}

	& p {
		font-weight: 300;
		opacity: .5;
	}
}

.list-item {
	border-top: 2px solid $purple;
	border-bottom: 2px solid $blue;
	border-left: 2px solid $green;
	border-right: 2px solid $lightBlue;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: 300;
	position: relative;

	&:hover .list-item__btn {
		display: block;
	}

	&--complete {
		border: $borderBlack;

		& .list-item__mark {
			background: center no-repeat url("../img/mark.svg");
			background-size: 13px;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__checkbox {
		display: none;
	}

	&__mark {
		width: 20px;
		height: 20px;
		border-radius: 4px;
		border: 1px solid rgba($black, 0.25);
		margin-right: 10px;
	}

	&__text {
		display: inline-block;
		width: 100%;
		margin: 0 5px;
		transition: all 0.3s;
		flex-grow: 1;
	}

	&__btn {
		display: none;
		position: absolute;
		font-size: 14px;
		font-weight: 500;
		border: none;
		cursor: pointer;

		background-image: $linearGradientPurple;
		color: #fff;
		border-radius: 100px;

		&:hover {
			background-image: $linearGradientGreen;
			color: $white;
		}

		&:active {
			outline: none;
			opacity: 0.75;
		}

		&:focus {
			outline: none;
		}

		&--delete {
			left: 470px;
			top: 2px;
		}

		&--edit {
			left: 470px;
			top: 23px;
		}
	}
}
